.Rhistory
.Rprofile
.Rproj.user/
getopt
os
sys
sysconfig
# exclude original files
data/wissel2023/PAAD_data_preprocessed.csv
data/osipov2024/43018_2023_697_MOESM3_ESM*
efs/*/*
bench/wissel2023/*
bench/osipov2024/*
bench/efs/*
test/*
bench/fs/*
efs/tree_efs.rds
server_bench_data/
